#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  
  .main-container{
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 2rem;
    width: 800px;
    background-image: url('./v748-toon-131.jpg');
    background-size: cover;
    background-position: center ;
    margin: 0 auto;
  }
  
  .container{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    justify-content: center;
  }
  
  .container-3{
  margin: 10px 20px 0px 20px;
  
  }
  
  .container-2 {
    margin: 20px 0px 0px 20px;
  }
  
  