#container {
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px auto;
    width: fit-content;
    background-color: rgb(84, 84, 84);
  }
  
  #field {
    border: 1px solid rgb(75, 75, 75);
    border-radius: 5px;
    margin: 10px;
    background-image: url('./img/istockphoto-1186789565-612x612.jpg');
    background-position: center;
    height: 377px;
    width: 630px;
  }
  
  #control {
    margin: 15px;
    display: flex;
    justify-content: space-between;
  }

  .control-button {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
  }
  
  #ball {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: yellow;
    position: relative;
    height: 50px;
    width: 50px;
  }
  
  .basketball {
    background-image: url('./img/Basketball.png');
    background-size: cover;
    background-color: transparent;
  }
  
  .football {
    background-image: url('./img/Football.png');
    background-size: cover;
    background-color: transparent;
  }
  
  .volleyball {
    background-image: url('./img/Volleyball.png');
    background-size: cover;
    background-color: transparent;
  }
  
  .human {
    background-image: url('./img/human.png');
    background-size: cover;
    background-color: transparent;
  }
  
  .cartoon {
    background-image: url('./img/cartoon.png');
    background-size: cover;
    background-color: transparent;
  }
  
  .logo {
    background-image: url('./img/logo.png');
    background-size: cover;
    background-color: transparent;
  }
  