.temperatures-container{
          border: 1px solid black;
          padding-bottom: 1rem;
          border-radius: 0.5rem;
          padding: 0.5rem 0.5rem 0 0.5rem;
          margin-bottom: 1rem;
          background-color: aliceblue;
}

.temperatures-title{
          color: darkblue;
}

.temperatures-variables{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 0.5rem;
}

.temperatures-display{
    display: flex;
    gap: 8rem;
    justify-content:center
}