.add-container{
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: aliceblue;
}

.add-title{
    color: rgb(0, 0, 0);
}

.add-variables{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.add-display{
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}